<div class="container-fluid">
  <div class="row">

    <div class="col">
      <dl>
        <p class="h3">{{ animeDetail.name }}</p>
        <dt class="bold">Description</dt>
        <dd>{{ animeDetail.description }}</dd>
        <hr />
        <dt>Rating ⭐</dt>
        <dd>{{ animeDetail.Rating }}</dd>
        <hr />
        <dt>Studio</dt>
        <dd>{{ animeDetail.studio }}</dd>
        <hr />
        <dt class="bold">Number of episodes</dt>
        <dd class="caption">{{ animeDetail.total_episodes }}</dd>
        <hr />

      </dl>
    </div>

    <div class="row">
      <div class="col-2">
        <div class="thumb">
          <img
            class="img"
            src="{{ animeDetail.img }}"
            alt="{{ animeDetail.name }}"
            style="width: 200px"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2" *ngFor="let season of animeDetail.seasons">
        <ul class="list-group">
          <li class="list-group-item"> {{ season.name }} <span class="badge text-bg-primary rounded-pill">{{ season.episodes }}</span></li>
        </ul>
      </div>
    </div>
    

  </div>
  <a href="#" class="btn btn-primary"> Back </a>
 </div>
